<H1>Create an account</H1>
<div id="container">
    <form action="/signup" method="post">
        <label for="username">
            <input type="text" name="username" placeholder="john123" id="username-border">
        </label>
        <label for="password">
            <input type="password" name="password" placeholder="**********">
        </label>
        <button type="submit">Create</button>
    </form>
</div>